
.hotel-dropdown {
    margin-top: 35px;
}

.message-no-hotels {
    display: flex;
    justify-content: center;
    
    margin-top: 35px;
    margin-bottom: 35px;
}

.search-content {
    margin-top: 35px;
    margin-bottom: 35px;
}