

.room-content {
    margin-top: 35px;
    margin-bottom: 35px;;
}

.button-content {
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 25px;
}

.hotel-dropdown {
    margin-bottom: 40px;
}

.loading-room {
    margin-top: 25px;
    margin-bottom: 25px;
}