
.message-no-hotels {
    display: flex;
    justify-content: center;
    
    margin-top: 35px;
    margin-bottom: 35px;
}

.form-content {
    margin-top: 35px;    
    margin-bottom: 35px; 

    .footer {
        display: flex;
        justify-content: flex-end;
        margin-top: 25px;

        .space-submit {
            margin-left: 10px;
        }
    }
}

.date-content {
    margin-top: 25px;
    margin-bottom: 25px;

    .footer {
        display: flex;
        justify-content: flex-start;
        margin-top: 10px;

        .message {
            width: 100%;
            padding: 5px;
            background-color:lightblue;
        }
    }

}